/*font-family: 'ZCOOL XiaoWei', serif;

/*
MIDDLE PURPLE '#C585B3'
ARSENIC '#394648'
RHYTHM '#827191'
CLARET '#7D1D3F'
SEAL BROWN '#512500'
*/
body {
    font-family: 'Lato', sans-serif;
}

/*   navbar */
.transparent {
    background: rgba(0,0,0,0.5);

}
.navbar-toggler-icon {
    border: 5px solid black;
    padding:30px;
    background-color: #F15025;
}

.nav-link {
    color: #F15025!important;
    font-size: 30px;
    font-style: italic;
}
.navbar-brand {
    color: #F15025!important;
    font-size: 30px;
    font-style: italic;

}


.navbar a:hover{
    color: whitesmoke!important;

}



/*end of navbar */



header {
    height: 100vh;
    background: url(jc-gellidon-449678-unsplash.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}




.banner-center {
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-underline {
    width: 300px;
    border: 3px solid lightcoral;
    margin:0px auto 20px auto;

}
.banner-center a {   /* a for a tag */
    font-size: 30px;
    width: 300px;
    margin: 0px auto;
    display: inline-block;
    border:3px solid whitesmoke;
    color:whitesmoke;
    text-decoration: none;
    border-radius: 20px;
}
 .banner-center a:hover,
 .banner a:focus{
     color: #F15025;
     background-color: whitesmoke;
 }

 /*end of banner*/

/*title*/
.title {
    margin: 20px 0;

}
.title-underline {
    width: 150px;
    border: 3px solid lightcoral;
    margin:0px auto 10px auto;

}
/*end of title*/


/*skills section*/

#skills {
    padding: 60px;
    color: #2D3142;
    margin-bottom: 20px;
    background-color: whitesmoke;

}
#skills.fa {
    font-size: 200px;
    margin-bottom: 10px;
}

#skills a {
    margin-bottom: 20px;
    background-color: #F15025;
    color: whitesmoke;
    font-size: 20px;
}

#skills a:hover {
    background-color: #CED0CE;
    color: #2D3142;
}

/*end of skill section*/
/*about*/
#about {
    background-color: #7D1D3F;
    color: whitesmoke;

}
#about .pic{
    height: 600px;
    background: url("vadim-sherbakov-277610-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 100px solid #7D1D3F;

}

#about .box {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
/*end of about*/
/*contact section*/

#contact {
    padding: 40px;
    background-color: whitesmoke;
}
#contact .form-control {
    border-radius: 0!important;
    font-size: 20px;

}

#contact button{
    background-color: brown;
    font-size: 24px;
    color: whitesmoke;
    margin-bottom: 20px;
}

#contact button:hover {
    background-color: #CED0CE;
    color: #2D3142;
}




/*end of contact*/




/*footer*/
#footer {
    background-color: #353531;
    color:whitesmoke;
    padding: 40px;
    font-size: 10px;

}
#footer .title-underline{
    margin-bottom: 40px;
    width:450px;
    width:350px;
}
#footer .footer-icons{
    content:"\f082";
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: 20px;

}
#footer .footer-icons a{

    color: deepskyblue;
    text-decoration: none;
}
#footer .footer-icons a:hover{

    color:#F15025;
}

#footer .copyrights h3{
    padding : 40px 0;
    color: #CED0CE;
}


/*end footer*/